@import "tailwindcss" important;
@source "../features/teammate";

@theme {
  --color-sutra-dark: #0a0710;
  --color-sutra-surface: #121018;
  --color-sutra-surface-light: #1a1625;
  --color-sutra-silver: #fdf4ff;
  --color-sutra-silver-muted: #a09eab;
  --color-sutra-red: #d946ef;
  --color-sutra-cyan: #c026d3;
}
